
body {
    font-family: 'Courier New', monospace; margin: 0; padding: 20px; background: #f8f9fa; line-height: 1.6;
}

h1 {
    text-align: center; color: #333; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin-bottom: 30px; font-size: 36px; font-family: 'Rock Salt', cursive;
}

.button {
    display: inline-block; padding: 10px 20px; background: #ffcc00; color: #333; border: 2px solid #ffcc00; border-radius: 5px; cursor: pointer; transition: 0.3s ease; text-align: center; font-family: 'Rock Salt', cursive;
}
.button:hover { background: #ffd633; border-color: #ffd633; }

.container-wrapper {
    display: flex; flex-wrap: wrap; justify-content: space-around; margin: 20px auto;
}
.column {
    flex: 1; margin: 10px; min-width: 300px; max-width: 400px;
}
.container-3 {
    background: #a5cf0a; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px; text-align: center; cursor: pointer; transition: 0.3s ease;
}
.container-3:hover {
    transform: translateY(-10px); box-shadow: 0 8px 16px rgba(36, 20, 20, 0.2);
}
.container-3 h2 {
    margin: 0; font-size: 20px; color: #333;
}
p {
    text-align: center;
}
